* {
    margin: 0;
    padding: 0;
}


body {
    /* min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    background: #28282B;
    /* background: #353935; */
}

.container {
    position: fixed;
    top: 20px;
    left: 50px;
    margin: 0 auto;
    padding: 10px;
    background: #353935;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 5px;
    transition: 0.5s;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Trade Gothic Bold',sans-serif;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.anchors {
    display: flex;
    flex-direction: column;
    height: 30px;
    overflow: hidden;
    padding-top: 10px;
}

.icons {
    transform: translateY(10px);
    transition: 0.5s;
}

.text {
    transition: 0.5s;
}

.text > a {
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

.anchors a:last-child {
    padding-right: 20px;
}

.icons a {
    padding: 0 50px;
}

.icons a img {
    width: 30px;
}

.text.ntranslateY {
    transform: translateY(-25px);
}

.icons.ptranslateY {
    transform: translateY(-23px);
}

.container.background {
    background: #f2f2f2;
}

.logo.color {
    color: #000;
}